.steps-section > button > span {
  background-color: #23262F;
}

.active-tab {
  border-bottom: 3px solid #d2aa1a; 
  font-weight: bold; 
  color: #d2aa1a;    
}

.steps-section > .active-tab > span {
  background-color: #d2aa1a;
}


.error-border {
  border-color: red; /* Or any other visual cue */
}

.error-message {
  color: red;
  font-size: small;
  display: block; /* Or inline-block as needed */
}
